
body {
	background: #FEA47F !important;
	font-family: "montserrat",sans-serif;
}
form a  {
	margin-left: 5px;
}
.posts, .form-new, .post_show {
	margin: 20px 10px;
	padding: 10px;
	border-radius: 6px;
	background: #2C3A47;
	color: #fff;
}
.list-group-item {
	padding: 10px;
	margin: 10px 0;
}
.list-group-item:hover {
	background: #FD7272;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	outline: none;
}
.list-group-item a:hover {
	color: #fff;
}
 .post_show  span {
	padding: 10px;
	margin: 5px 0;
	display: block;
}
